{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'first/styles.css' %}"> 
        <link rel="stylesheet
href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css”
> 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/">지도</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> 
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/first/list">발생지 목록<span class="sr-only"></span></a>
              <a class="nav-item nav-link" href="/first/create">발생지 등록</a>
              <a class="nav-item nav-link" href="/first/ipserializer">ipserializer(API서버)</a>
            </div> 
          </div>
        </nav>
        {% block content %} # body 안쪽에 block 을 넣어줬다 
        {% endblock %}
    </body>
</html>
