{% load static %}
<html>

    <body>

<link href="{% static 'first/css/navbar.css' %}" rel="stylesheet">

<!-- 상단바 -->
<nav class="navbar">
  <a class="navbar-brand" style="font-family: jua;"> DSC Hackathon 오이당근팀_ASF 세계 현황 </a>
  <a class="nav-item nav-link" href="/first/list">발생지 목록<span class="sr-only"></span></a>
  <a class="nav-item nav-link" href="/first/create">발생지 등록</a>
  <a class="nav-item nav-link" href="/first/ipserializer">ipserializer(API서버)</a>
</nav>
        {% block content %} # body 안쪽에 block 을 넣어줬다 
        {% endblock %}
    </body>
</html>
