{% extends 'first/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top:20px;"> # 너무 딱붙지 않게 마진 20px만 넣음
            <h3>이름: {{ item.name }}</h3>
            <p>주소: {{ item.address }}</p>
            <p>메모: {{ item.memo }}</p>
            <p>생성일자: {{ item.created_at }}</p>
            <p>최종수정일자: {{ item.updated_at }}</p>
            <a href="{% url 'infectedplace-update' id=item.id %}">
            <button class="btn btn-danger">수정하기</button>
            &nbsp;&nbsp;
            <a href="{% url 'infectedplace-delete' id=item.id %}">
            <button class="btn btn-danger">삭제하기</button>
        </div>
    </div>
</div>
{% endblock %}
