{% extends 'first/base.html' %}
{% load static %}
{% block content %} 

<head>
  <meta charset="utf-8">
  <title>ASF 세계 현황</title>
  <style>
    @font-face {
      font-family: "jua";
      src: url("fonts/BMJUA.ttf");
    }

    @font-face {
      font-family: "nanum";
      src: url("fonts/nanumsquareregular.ttf");
    }
  </style>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2XrmlvWyGhhIGBtxjvsmZEucF5Eto3l0&libraries=visualization&callback=initMap&region=kr" type="text/javascript"></script>
  <script type="text/javascript">
function initMap() {
  const gradient = [
    "rgba(0,0,0,0)",
    "rgb(255, 108, 108)",
      "rgb(245, 98, 98)",
      "rgb(235, 88, 88)",
      "rgb(225, 78, 78)",
      "rgb(215, 68, 68)",
      "rgb(205, 58, 58)",
      "rgb(195, 48, 48)",
      "rgb(185, 38, 38)",
      "rgb(175, 28, 28)",
      "rgb(165, 18, 18)",
      "rgb(155, 10, 10)",
      "rgb(150, 0, 0)",
  ]
  const locations = [];
  const requestURL = '/first/ipserializer/?format=json'; 
    //https://dsc-asf-entqq.run.goorm.io/first/ipserializer/?format=json
    //http://13.209.183.106/first/ipserializer/?format=json
  const request = new XMLHttpRequest();
  const map = new google.maps.Map(
    document.getElementById('map'), {
      zoom: 2.5,
      minZoom: 2.5,
      center: { lat: 37.5642135 ,lng: 127.0016985 },
    });

  request.open('GET', requestURL);
  request.responseType = 'json';
  request.send();
  request.onload = function() {
    const asfLocationInformations = request.response;
    for (let i=0; i < asfLocationInformations.length; i++) {
      const location = new google.maps.LatLng(
        Number(asfLocationInformations[i].lat),
        Number(asfLocationInformations[i].lng)
      )
      locations.push(location);
    }
    const heatmap = new google.maps.visualization.HeatmapLayer({
      data: locations,
      dissipating: true,
      map: map,
      gradient: gradient,
    });
    heatmap.setMap(map);
  }
}
  </script>
</head>

<body>
  <div id="map" style="width:100%; height: 100vh;">
  </div>
  <h1>반가워요</h1>

</body>
{% endblock %}