{% extends 'first/base.html' %}
{% load static %}
{% block content %} 
<head>
    <meta charset="UTF-8">
    <title>발생지 목록</title>
</head>
<body>
    {% for item in infectedplace %}
    <div>
        <h4>{{ item.name }}</h4>
<p>
            {{ item.address }}
            <a href="{% url 'infectedplace-detail' id=item.id %}" class="card-link"><button class="btn btn-danger">자세히보기</button></a>
            <br><br>&nbsp;
            <a href="{% url 'infectedplace-update' id=item.id %}">
            <button class="btn btn-danger">수정하기</button>
            &nbsp;&nbsp;
            <a href="{% url 'infectedplace-delete' id=item.id %}">
            <button class="btn btn-danger">삭제하기</button>
            </a>

        </p>
    </div>
    {% endfor %}
</body>
</html>
{% endblock %}