<style>
    #form_legend {
        font-weight: bold;
        text-align: center;
        border-radius: 30px;
    }

    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 30px;
    }

    .lobel_font {
        font-size: 20px;
        background-color: red;
    }

    @font-face {
        font-family: "jua";
        src: url("fonts/BMJUA.ttf");
    }

    @font-face {
        font-family: "nanum";
        src: url("fonts/nanumsquareregular.ttf");
    }

    #btnRegister {
        background-color: #0d89dbea;
        color: white;
        padding: 0.65em 2.5em 0.75em 2.5em;
        border-radius: 0.35em;
        letter-spacing: 0.20.em;
        font-weight: bold;
        font-size: 0.90em;
        font-family: nanum;
        border: 0;
        outline: 0;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    #btnClear {
        background-color: #d64936f8;
        color: white;
        padding: 0.65em 2.5em 0.75em 2.5em;
        border-radius: 0.5em;
        letter-spacing: 0.20.em;
        font-weight: bold;
        font-size: 0.90em;
        font-family: nanum;
        border: 0;
        outline: 0;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .formRegister {
        font-family: nanum;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .formContent {
        font-family: nanum;
        margin-top: 5px 5px;
    }

    .label_font {
        font-weight: bold;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.8);
    }

    .formContent input {
        border: none;
        height: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        margin: 10px;

    }

    .formContent input::placeholder {
        border-color: white;
    }

    .formContent input:focus {
        border-color: white;
    }
</style>